#ifndef WS_CAPTION // for resource include
#include <windows.h>
#endif
#include "app.H"

#ifndef WINDRES
#ifndef WINEGCC
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION	Q_Version
PRODUCTVERSION	Q_Version
FILEOS		VOS__WINDOWS32
FILETYPE	VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	BLOCK "041103A4" // 言語=日本語(0x0411) およびキャラクタセット=SJIS(0x03a4)
	BEGIN
	  VALUE "Comments",		P_Comments "\0"
	  VALUE "CompanyName",	P_Company_NAME "\0"
	  VALUE "FileDescription",	P_ProductName "\0"
	  VALUE "FileVersion",	InfoVer "\0"
	  VALUE "InternalName",	APPNAME "\0"
	  VALUE "LegalCopyright",	P_Copyright "\0"
	  VALUE "OriginalFilename", APPNAME "\0"
	  VALUE "ProductName", P_ProductName "\0"
	  VALUE "ProductVersion",	InfoVer "\0"
	END
  END
  BLOCK "VarFileInfo"
  BEGIN                               //  Language    |    Translation
	VALUE "Translation", 0x0411, 932  // Japanese     | Shift-JIS X-0208
  END
END
#endif
#endif

//-------------------------------------------------------------- XP UI 指定
1 24
{
"<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
"<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">"
"<assemblyIdentity processorArchitecture=""" P_Processor """"
	" name=""" P_Company_NAME "." P_ProductName """"
	" version=""" X_Version ".0.0" """ type=""win32""/>"
"<description>" P_Description "</description>"
"<dependency><dependentAssembly><assemblyIdentity"
	" type=""win32"" name=""Microsoft.Windows.Common-Controls"""
	" version=""6.0.0.0"" language=""*"""
	" publicKeyToken=""6595b64144ccf1df"""
	" processorArchitecture=""" P_Processor """/>"
"</dependentAssembly></dependency>"
"<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
"<application>"
"<supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}""/>" // Vista
"<supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}""/>" // 7
"<supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}""/>" // 8
"<supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/>" // 8.1
"<supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/>" // 10
"</application></compatibility>"
"</assembly>"
}
